[2017-03-06 18:17] glennc opened #1 "Convert to csproj and VS 2017"
@bradwilson you were going to start this and @eilon was going to get someone to finish it, right?

[2017-03-07 15:56] #1 closed, assigned to nobody

[2017-03-20 20:13] Eilon opened #5 "Rename generic-named Extensions containers to more feature-specific names"
This is to avoid having the same namespace+type name in multiple assemblies. (The specific name doesn't matter that much, but something like `HealthChecksServiceCollectionExtensions` would be fine.)

See:
* https://github.com/aspnet/HealthChecks/blob/dev/src/Microsoft.Extensions.HealthChecks/ServiceCollectionExtensions.cs#L9
* https://github.com/aspnet/HealthChecks/blob/dev/src/Microsoft.AspNetCor

[2017-03-20 23:22] Eilon opened #7 "Have builds of this repo go to a nightly feed"
* Add the build stuff to this repo for automated builds
* Add stuff like NuGet Package Verifier
* Code signing

[2017-03-21 04:50] alhardy opened #8 "Already implemented in an Open Source project"
Looks like this come from a [Metrics.Net](https://github.com/etishor/Metrics.NET) [extension](https://github.com/alhardy/aspnet-metrics/blob/dev/src/AspNet.Metrics/DependencyInjection/MetricsCoreBuilderExtensions.cs#L17) written for dotnet core.

My implementation written a while back [looks very similar](https://alhardy.github.io/app-metrics-docs/getting-started/health-checks/index.html#configuri

[2017-03-21 05:24] Eilon commented on #8
Hi @alhardy this looks like it's a coincidence because the two projects are in very similar areas, so some types and members have similar names. All the contributions to the repo here are original.

[2017-03-21 05:24] #8 closed, assigned to nobody

[2017-03-21 05:55] glennc commented on #8
@alhardy This library is purely a way to define a set of functions that you can run to determine the health of your application, with the associated middleware and other pieces to allow it to work with ASP.NET and ASP.NET Core. AppMetrics appears to be significantly more than that.

Happy to work with you on defining what the IHealthCheckResult, IHealthCheck and IHealthCheckService interfaces shou

[2017-03-21 07:00] alhardy commented on #8
@Eilon Not saying otherwise, just pointing out that there is already pretty much the same implementation.

@glennc Cheers, I'll try plugging in this implementation instead of mine a little down the track.

[2017-03-21 15:00] ycrumeyrolle opened #9 "Healthcheck middleware must be protected"
The healthcheck endpoint could lead to a DoS attack. This endpoint may be an hidden or an obscure endpoint.
The healthcheck endpoint must also be protected from malicious attacks.
This could be done by using an `AuthorizationPolicyBuilder` :

[code]

And with an `AuthorizationService` in the middleware :
[code]

[2017-03-21 18:40] ycrumeyrolle opened #11 "Healthcheck middleware may expose checks results"
The healthcheck middleware may expose the following informations :
- check name
- check status
- elapsed time
- check status description
- additional data (property bag, like dns lookup time, ssl handshake time, ...)

Exposing such informations allow to a monitoring tool to aggregate health of the application over the time.

[2017-03-21 18:45] ycrumeyrolle opened #12 "Healthcheck services should cache the results"
Each check should be cacheable for a period of time.
For example http endpoint checks may be cached for 10 seconds, database checks may be cached for 2 seconds, ...

[2017-03-21 18:57] ycrumeyrolle opened #13 "Implements Canary endpoint"
The Canary endpoint provides a binary health status of the application. Dead or alive. This endpoint is designed for HTTP load balancer, responding 200 HTTP status or 503 HTTP status.

This endpoint may be controlled either by the IHealthcheckService or by an application switch.
For example :
The application must be upgraded. On the current node , the operator will switch off the application.
Even

[2017-03-21 20:01] damienbod opened #14 "Add a way of creating extension packages"
It would be nice if you could create extensions for this library so that third party extensions can be created  and used, something like hw the loggers do this. Example Data extensions packages for MySQL, PostgreSQL could be created or OPC DA, XML, UA entensions as an example.

[2017-03-21 20:22] ycrumeyrolle opened #15 "Healthcheck middleware should allow sub policy"
Healthcheck middleware should be able to provide health status of specifics checks.
For example you have 3 http endpoint check (one for web payment, one for order management & one for user management), 2 certificates (one for payment http service, one for DataProtection), 1 database for cart management, ...
It should be possible to request health of the payment sub-system, for the order management

[2017-03-21 21:35] ycrumeyrolle opened #18 "Add check based on counters threshold"
Checks based on counter are useful for detecting transient failures recurrence.
For example :
[code]

Where the counter reach the threshold, the check is unhealthy.

[2017-03-21 21:49] bradwilson commented on #11
Related to this and #9, we have talked about this.

Our current thinking is that the default middleware will not do auth, nor expose information, precisely because there will be consumers of the endpoint that may not support auth and really don't care about the data (just the 200/5xx). For users who want a more feature-rich endpoint, we will encourage (and add the sample) the idea of a protected e

[2017-03-21 21:50] bradwilson commented on #12
This was just pushed up in https://github.com/aspnet/HealthChecks/commit/4f655747b4d15a961c12d5f4bae72772d4e4aa61. Let us know what you think of the usage! We'll get something integrated into the sample soon.

[2017-03-21 21:53] bradwilson commented on #14
The goal right now is to have each project under src to be a separate NuGet package. Extensions will be able to leverage `Microsoft.Extensions.HealthChecks` as the extensibility point. Please feel free to provide feedback where extensibility points should be added!

[2017-03-21 21:58] ycrumeyrolle commented on #11
This is what I have called a canary endpoint at issue #13.
Canary endpoint for health checks, responding 200/5XX, useful for load balancer.
Healthcheck endpoint for detailed health checks, useful for web monitoring. Require to be protected.

[2017-03-21 21:58] bradwilson opened #19 "Offer middleware option to use path instead of custom port"

[2017-03-21 21:59] bradwilson opened #20 "Add ASP.NET equivalent to ASP.NET Core middleware"

[2017-03-21 22:17] ycrumeyrolle opened #21 "Add default timeout on check"
Checks could be very long, like http request taking several seconds for responding.
Each check should be cancelled after a default timeout, and considered as unhealthy.

[2017-03-21 22:22] ycrumeyrolle opened #22 "Parallelize checks"
Check may be parallelized. Checks can be awaited outside of the foreach loop:
[code]

Be careful, this pseudo code do not take care of task scheduling...

[2017-03-21 22:34] ycrumeyrolle opened #23 "Support of DI"
Check may support DI on ctor.

[2017-03-21 22:45] ycrumeyrolle commented on #12
I think that cache management should be done by the `HealthChekService`, not by the base class `HealthCheck` itself.
This allow to not be implement by each `IHealthCheck` implementation.

[2017-03-21 23:07] #5 closed

[2017-03-21 23:15] bradwilson commented on #12
The flip side is that by pushing caching logic into the health check, it allows complex health checks to use their own caching logic rather than being stuck with the fairly simplistic one that we've implemented by default.

[2017-03-22 02:41] alaatm opened #25 "Better README"
Currently is terrible. One has to browse and look through the sample to get an idea of what this lib does.

[2017-03-22 08:52] JuergenGutsch opened #26 "HealthCheckTagHelper"
I proposed a HealthCheckTagHelper in the old repository:
https://github.com/aspnet/AspLabs/pull/17

I would recreate the PR for this repository too. But currently I'm not sure whether to place it in the Microsoft.Extensions.HealthChecks or in the Microsoft.AspNetCore.HealthChecks.
Or even better to introduce a new project (Microsoft.AspNetCore.Mvc.HealthChecks) because a TagHelper needs dependenci

[2017-03-22 09:08] RehanSaeed opened #27 "What is the Proposed Release Date"
Will this get released as part of 2.0?

[2017-03-22 12:30] bradwilson opened #28 "Add ConfigureAwait to async API endpoints"

[2017-03-22 13:10] #20 closed, assigned to bradwilson

[2017-03-22 18:38] ycrumeyrolle commented on #12
I see your point of view, but I do not see any complex caching logic need with my current use cases (hundreds of monitored applications).
I would better see a common logic in the service, and a way to override the default behavior. For example with an `ICheckCache`.

In my custom implementation of the HealthChecks, I have separate the `IHealthCheck` into two separate classes. One for the settings,

[2017-03-22 22:30] #19 closed, assigned to bradwilson

[2017-03-22 22:30] #28 closed, assigned to bradwilson

[2017-03-23 07:07] bradwilson commented on #26
/tag @Eilon @glennc

[2017-03-23 07:09] bradwilson commented on #12
We do have a lock.

Our locking code prevents this.

Definitely. Hammering a down service is a great way to ensure it never stands back up again.

[2017-03-24 03:42] Eilon commented on #26
BTW I think you meant https://github.com/aspnet/AspLabs/pull/16.

I'm generally not a huge fan of tag helpers that are really just `if()` checks, unless they are there to do a relatively complex check. Even the `<environment>` tag helper is a bit dubious in nature in my mind.

Also, do we think it would be common to want to have this type of rendering in a page? I ask this because the fidelity of

[2017-03-24 07:02] JuergenGutsch commented on #26
You are right, it was 16 :)

Got it :) That's why I asked :)
At the ASP.NET Hackathon last year at the MVP summit, we thought this TagHelper could be useful to provide user friendly information. Anyway, this could be easily done by the dev who uses the HealthChecks in his app.

Anything else I could contribute to this project?

[2017-03-24 07:16] #26 closed, assigned to nobody

[2017-03-27 23:34] glennc commented on #18
What registration syntax would you expect to see for this check? I assume it is an IHealthCheck that wraps another IHealthCheck, what would it look like to register that?

[2017-03-27 23:36] glennc commented on #15
As it stands right now the Middleware doesn't return any information. Just a status. We intend for people to accept the IHealthCheckService into a controller if they want to return more information, and then they have full control over how it renders and what configuration they have.

[2017-03-27 23:36] #15 closed, assigned to nobody

[2017-03-27 23:38] #14 closed, assigned to nobody

[2017-03-27 23:40] bradwilson opened #32 "Rename Microsoft.Extensions.HealthChecks.Data to Microsoft.Extensions.HealthChecks.SqlServer"

[2017-03-27 23:41] glennc commented on #13
You can do this with the current middleware by adding a healthcheck that looks for the existence of a file or some other flag from an operator. Right?

[2017-03-27 23:57] glennc commented on #11
To achieve this we are thinking that you accept the IHealthCheckService in a controller and use MVC. It is trivial to do in a controller and gives you full control.

[2017-03-27 23:59] glennc commented on #9
Because we aren't exposing anything in the middleware we don't think we require this. If you are exposing information we intend to direct you to use MVC, which gives you the normal auth system.

[2017-03-27 23:59] #9 closed, assigned to nobody

[2017-03-28 06:09] JuergenGutsch commented on #18
I like the idea. It could look like the HealthCheckGroup: https://github.com/aspnet/HealthChecks/pull/16

[code]

[2017-03-28 06:49] ycrumeyrolle commented on #18
My main concern is to check health of not checkable components.
I have a concrete use case of web service that only accept request that modify data. And I pay for each request.

The registration mat be similar to other checks.
Here is what I have done in my custom repo:
 https://github.com/ycrumeyrolle/HealthCheck/blob/master/samples/HealthSample/Startup.cs#L77

[2017-03-28 08:11] ycrumeyrolle commented on #13
Right!

I first take a look at the environment variables as flag, but I discovered that they were not updated.
A simple file watch as flag is correct. We can imagine also any something based on Redis pubsub feature.

[2017-03-28 08:44] ycrumeyrolle commented on #11
What if I do not want to rely on MVC ?
It is also trivial to do this in a middleware :)

I would like to not rely on MVC because this kind of components may be exposed by all applications in my scope.
Developers are able to override MVC default behavior, bringing to unexpected errors.
ie. default JSON format is CamelCase and a developer replace it by the snake_case format.

[2017-03-29 03:37] #21 closed, assigned to bradwilson

[2017-03-29 03:37] #32 closed, assigned to bradwilson

[2017-03-29 03:37] #22 closed, assigned to bradwilson

[2017-03-29 03:42] bradwilson commented on #11
There's nothing stopping someone from providing more full-featured middleware as a third party extension.

[2017-03-29 06:08] CESARDELATORRE opened #34 "NuGet package of HealthChecks"
As soon as we have a first stable preview version, it would be good to have a NuGet package of it so samples or real usage of it rely on the packages instead of on GitHub code.
Even if it is a 0.2 version, I think it is worth to start having a NuGet package, soon.

[2017-03-29 09:47] JuergenGutsch commented on #18
I'm going to try something and will create a PR

[2017-03-29 17:32] ycrumeyrolle commented on #15
Agree with the fact that the middleware does not return any information.
But if I want to build a third party middleware, or to expose a custom controller, I am facing to in issue.

Imagine that I want to expose the endpoint /detailed-health/ and the endpoint /detailed-health/certificates/
I would like to be able to run all the checks with the first endpoint, and to run only the certificates relat

[2017-03-29 17:43] ycrumeyrolle opened #35 "Consider adding Retry-After header on 503 response"
According to [HTTP 1.1](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html), a 503 http response MAY add a After-Retry header.

This header may contains the value of the nearest expiration of the cache.

[2017-03-29 17:57] ycrumeyrolle opened #36 "Avoid usage of ConcurrentDictionary"
In the CompositeHealthCheckResult, a Concurrent Dictionary has replaced a basic Dictionary.
It is not necessary to be thread safe in this class if the Health Service do not add the results in different threads.

An I wrong?
@bradwilson

[2017-03-29 18:06] ycrumeyrolle commented on #36
In addition, you may be able to use the result of the Task.WhenAll instead of the task.Value.Result in the for each Health Service loop.

[2017-03-29 20:57] ycrumeyrolle opened #37 "HealthCheck class design"
The `HealthCheck` class is not not DI friendly. The constructor has values parameters like the check name, and check behavior with the `Func<CancelationToken, ValueTask<IHealthCheckResult>>` check parameter (ouch....)

As the `HealthCheck` class is responsible of the caching behavior, it should be the principal way to implement `IHealthCheck`.
Related to #23.

[2017-03-29 20:58] ycrumeyrolle commented on #18
Tried to implement with a `ICounter` giving the ability to have a local n-memory counter or a distributed counter.
I am facing to the problem that checks are not DI DI friendly.  I have the following interfaces :
[code]

[code]

I can easily inject the` ICounterProvider` into any Di-friendly class (controller, middleware & any container-controlled class), but not in the `HealthCheck` class.
Opened

[2017-03-29 21:17] bradwilson commented on #36
It became necessary when parallelizing the checks (the ConcurrentDictionary is used to register the results).

If you'll notice, the loop needed to preserve both the key and the task, so you can't use the results of the Task.WhenAll, because it's waiting on the task inside the projection, but my loop needs both the key and the task.

[2017-03-29 21:49] ycrumeyrolle commented on #36
The `CompositeHealthCheckResult.Add ()` is used within a sequential for each.
The parallel flow is execute by the Task.WhenAll just before, which is awaited.

The key used in the loop is the name of the check. The `HealthCheckResult` does not have this property, but it could be added.

[2017-03-30 02:52] bradwilson commented on #36
I think you missed this: https://github.com/aspnet/HealthChecks/blob/93360725a04eb2270a537e41bb0b67094e39e997/src/Microsoft.Extensions.HealthChecks/Internal/UrlChecker.cs#L47

[2017-03-30 02:53] bradwilson commented on #37
Caching behavior was extracted to a base class earlier today. https://github.com/aspnet/HealthChecks/blob/dev/src/Microsoft.Extensions.HealthChecks/CachedHealthCheck.cs

[2017-03-30 05:41] ycrumeyrolle commented on #36
I totally missed it.
I am not sure that current implementation of http check is mature.
Http check will probably require authentication specific for each endpoint, and may be a custom validation extension point, because some endpoint returns 200 even in case of errors, or some endpoint returns 500 or 400 even if not in error.
Why allowing multicheck within this check and not in the others?  If if

[2017-03-30 10:01] bradwilson commented on #36
The role of multi-checks within UrlChecker may change depending on whether we choose to support grouping (see #16). Generalized grouping would alleviate the need to UrlCheck vs. UrlChecks. /cc @glennc

[2017-03-30 23:13] CESARDELATORRE opened #40 "Implement HealthCheck for REDIS dependency"
This would be a nice to have health check in addition to the SQL Server health check. :)

[2017-04-03 23:20] CESARDELATORRE opened #41 "Add url to the data collection of UrlCheck when an exception is thrown"
Basically, we're having an issue because part of the data returned when UrlCheck fails is different than the data returned when it is 200 OK. Especially, the URL is what we'd need.
In a simple report page we want to show something like the following, where I highlight where we have the issues.
A piece of data we'd like to show is the URL, in any case, even if it failed:

[code]

But when returning

[2017-04-03 23:26] bradwilson opened #42 "Rename Microsoft.Extensions.HealthChecks.[Azure => AzureStorage]"

[2017-04-03 23:47] CESARDELATORRE opened #43 "Implement HealthCheck for RabbitMQ dependency"
This probably could be done at two levels:
1. Checking just the RabbitMQ service/server availability which is a dependency for your application or microservice, like just based on the address and port, like:
  rabbitmq_address:5672
This might be too limited, though...

2. Checking a collection of specific queues and RoutingKeys (Like testing subscriptions connectivity) based on parameters like:
qu

[2017-04-03 23:54] CESARDELATORRE opened #44 "Implement HealthCheck for Azure Service Bus dependency"
In a similar fashion than the RabbitMQ HealthCheck, having it for Azure Service Bus, at these levels of testing:
- Azure SB topic (usually, each topic in your Azure SB account will be owned by a different business application)
- Testing an Azure SB Subscriptions list which are dependencies for a particular service/application
- Testing a message Publish() into the Service Bus with a "Test" Event/M

[2017-04-04 00:06] bradwilson commented on #41
Looking at what we send back as data, only `url` will be legal when the check fails (the rest of the data comes from the response). I'll make sure `url` is in the data even when an exception occurs.

[2017-04-04 00:35] #41 closed, assigned to bradwilson

[2017-04-04 00:35] #42 closed, assigned to bradwilson

[2017-04-04 01:25] bradwilson opened #46 "Bug with exception handling introduced by parallelization"
The parallelization code in HealthCheckService has a bug because `Task.WhenAll` will throw if any `Task` results in an exception. The try/catch for handling these exceptions is in the wrong place.

[2017-04-04 16:49] #46 closed, assigned to bradwilson

[2017-04-04 17:33] #36 closed, assigned to nobody

[2017-04-25 21:57] glennc commented on #27
We aren't 100% sure of which release we will align this to. But we should decide on that shortly and I can update you.

[2017-04-26 20:56] bradwilson commented on #23
@ycrumeyrolle Please take a look at PR #50, as this makes significant changes in support of DI. I hope based on our previous discussions you will probably be happier with the post-DI design than the pre-DI design. :) Thanks!

[2017-04-26 20:57] bradwilson commented on #12
In PR #50, the caching responsibility is moved out of the health check itself and into the service (by way of a helper class).

[2017-04-30 16:59] grahamehorner opened #51 "Implement HealthCheck for ServiceFabric cluster"
Please consider implementing a ServiceFabric cluster HealthCheck

[2017-04-30 17:00] grahamehorner opened #52 "Implement HealthCheck for Azure DocumenDB"
Please consider an Implementation HealthCheck for Azure DocumenDB

[2017-04-30 17:31] #23 closed, assigned to bradwilson

[2017-05-01 15:54] ycrumeyrolle commented on #23
@bradwilson It is much better, but...
I am wondering how to implement an HealthCheck with an existing registered transient service, requiring parameters to check.

[code]
where `IWonderfulService` looks like
[code]

I would like to avoid to wrap existing services into a HealthCheckAdapter or something similar.

Adding a `HealthCheckContext` parameter to the `IHealthCheck.CheckHealthAsync()` would

[2017-05-01 16:19] ycrumeyrolle opened #53 "Enhance grouping feature"
The group feature allow to aggregate differents health checks into one.
I would like to use HealthChecks for both application monitoring and as circuit breaker for some features of my applications.
i.e. I have a e-commerce web site with a payment feature. The payment feature is based on a payment service, a payment-related certificate and an azure storage. I will create a group for the payment wit

[2017-05-02 00:23] bradwilson commented on #23
I'm not sure what you're after here. You should just be able to ask for the `IWonderService` constructor argument to get it for DI. What is the purpose of the context?

[2017-05-02 12:55] ycrumeyrolle commented on #23
What I would like to do :
[code]

I have this kind of interface (basically, a method with value parameter)
[code]

I see two ways to implement a `IHealthCheck` for this service.
With a DI-friendly HealthCheck :
[code]
I do not know how to pass the required value to the HealthCheck.

With a non DI-Friendly HealthCheck :
[code]
I can pass the value parameter with the HealthCheck constructor, but it

[2017-05-02 19:19] bradwilson commented on #23
Registration of services is outside the scope of health checks.

That said, there are lambda versions of DI registration that do what you want:

[code]

[2017-05-02 19:22] bradwilson commented on #53
After discussion, we decided that we would want to preserve the grouping feature as-is. If we were to add this as a feature, we would consider it to be orthogonal, and call it "tags"; that is, when you register a health check (inside a group or not), you would optionally be able to apply one or more tags to that check. Then we would offer an API to retrieve the list of checks in a tag.

My guess i

[2017-05-03 06:14] ycrumeyrolle commented on #53
Tags is a much better term.

I prefer the option of selecting by tag then run this subset. This avoid to run unnecessary checks and some undesirable behaviors.

[2017-05-03 20:47] CESARDELATORRE opened #54 "Add overloads allowing CacheDuration to the AddUrlCheck, AddSqlCheck, etc. methods."
By default, the cache config set in the code to 5 min:
Microsoft.Extensions.HealthChecks\HealthCheckBuilder.cs
DefaultCacheDuration = TimeSpan.FromMinutes(5);

But we need a way to change that Cache duration from the outside (client), i.e. per each Health Check being added.
There are not CacheDuration as a parameter from the more external methods like:
HealthCheckBuilderExtensions:
AddUrlCheck() o

[2017-05-03 21:12] #54 closed, assigned to bradwilson

[2017-05-03 22:30] grahamehorner opened #56 "Health Checks should use transient fault handling"
HealthChecks should use similar logic to transient fault handling to avoid false negative health reporting of transient faults

https://docs.microsoft.com/en-us/aspnet/aspnet/overview/developing-apps-with-windows-azure/building-real-world-cloud-apps-with-windows-azure/transient-fault-handling

[2017-05-03 23:03] CESARDELATORRE commented on #56
That's a good point, maybe using Polly's policies like we do use it from the eShopOnContainers application at GitHub.
Retries with exponential backoff plus circuit-breakers.

[2017-05-05 01:26] CESARDELATORRE opened #57 "SQL Connection resiliency by using SQL Connections with retries and exponential backoff"
The current SQL Server check is pretty basic. I know it was in "pending to be improved".
It is like the following:
https://github.com/aspnet/HealthChecks/blob/dev/src/Microsoft.Extensions.HealthChecks.SqlServer/HealthCheckBuilderSqlServerExtensions.cs
[code]
Since this library will be pretty much used in microservices environments and cloud environments with for instance Azure SQL DB, there are ma

[2017-05-05 07:31] JuergenGutsch commented on #57
+1 this was done last November in a pretty early state. It is kinda prototype.

[2017-05-17 19:47] glennc opened #58 "review items"
Split interfaces into an abstractions package
Potentially remote IHealthCheckResult, an interface with all properties is a smell we should understand and make sure of
Does IServiceProvider need to be exposed on the IHealthCheckService interface? Can we remove it?

[2017-05-18 10:26] herecydev opened #60 "Apply Service Unavailable globally if healthcheck fails"
If I understand [this line](https://github.com/dotnet-architecture/HealthChecks/blob/dev/src/Microsoft.AspNetCore.HealthChecks/HealthCheckMiddleware.cs#L40) correctly, the server will return a `HTTP 503` if the path/port matches what has been registered. However if it doesn't then it will invoke the next middleware regardless of health. This seems odd, I would expect the server to return 503s if t

[2017-05-18 14:01] ycrumeyrolle commented on #60
The responsibility of this middleware is to expose in a very succinct form the Health if the application. This can be used by load balancer in order to add or remove a node.
This middleware do not have the responsibility to expose the full details of the application health or control the application behaviour. For example, you may have a check that may fail, but as long as the load balancer decide

[2017-05-18 14:12] herecydev commented on #60
Sure, that's pretty centered around having a loadbalancer, or another proxy "up-front" that can interpret health and smartly route to other nodes. There are scenarios where this isn't applicable and it makes sense to block all requests early instead of failing, where it knows that the health checks have failed.

[2017-05-18 15:47] ycrumeyrolle commented on #60
This may be based on a Boolean option (CatchAllRequestsOnFailure) or based on a policy, like only for critical tagged checks.

[2017-05-19 17:32] herecydev commented on #60
Yer I think that's appropriate. A bool to turn on/off globally, perhaps a delegate that can be registered and invoked for specific routes or whatever the user decides is permissible.

[2017-05-19 23:11] cwe1ss commented on #51
Just curious, what would be a use-case for this? Because normally it's the other way around - Service Fabric has to listen to the result of these health checks to propagate it into its own health system.

[2017-05-24 02:44] VenkateshSrini opened #61 "Implement a way to get the Health check services from Repository"
Hi
From this blog https://scottsauber.com/2017/05/22/using-the-microsoft-aspnetcore-healthchecks-package/ I could see that those services that needs to be watched for health check needs to be registered at startup. Can that be modified such that I will be able to take those services from repository just before the health check happens and perform the health check.

This features helps me to dynami

[2017-07-19 11:38] synercoder opened #62 "UrlChecker can exhaust sockets"
In the current implementation of the [`UrlChecker`](https://github.com/dotnet-architecture/HealthChecks/blob/dev/src/Microsoft.Extensions.HealthChecks/Internal/UrlChecker.cs) for every check a new HttpClient is created. This can cause problems.

On [MSDN](https://msdn.microsoft.com/en-us/library/system.net.http.httpclient(v=vs.110).aspx#Remarks) it is stated under the remarks section:

Also more i

[2017-07-19 20:29] eiximenis commented on #62
Hi @synercoder
If you plan to do a PR to Healthchecks, please do it in their own repo (https://github.com/dotnet-architecture/HealthChecks). Implementation we use is copy-pasted from their repo only because nuget package is not (still) available. :)

[2017-07-24 14:35] rjperes commented on #34
Any idea as to when this will be pushed live? Thanks!

[2017-07-24 22:31] grahamehorner commented on #51
If you have multiple ServiceFabric clusters you may wish to monitor the health of a cluster from a different service or ServiceFabric cluster

[2017-08-24 19:34] svantreeck commented on #7
Are there plans to put this in nuget?  I see it got cut from the 2.0.0 release 👎

[2017-08-25 01:43] CESARDELATORRE commented on #7
@svantreeck Intially, putting the HealthChecks library plus other patterns-libs into ASP.NET Core will probably happen in the .NET Core 2.1 wave. But this is NOT a promise. ;)

[2017-08-29 14:43] espray opened #65 "README.md - "This project is part of ASP.NET Core.""
The README.md says "This project is part of ASP.NET Core."
What does this mean?
Has this project moved?

[2017-08-29 15:55] CESARDELATORRE commented on #65
It is still in Alpha here. Will be, eventually released. Hopefully in .NET Core 2.1 release, but I cannot confirm for sure.

[2017-08-29 18:23] espray commented on #65
@CESARDELATORRE thanks for the reply
Will this be the repro to watch, or will the work be done in different repro, or TBD?

[2017-08-29 19:53] CESARDELATORRE commented on #65
For now, this is it, but it might change. If that happens, we'll announce it here. :)

[2017-09-13 19:57] edwardmarbry commented on #34
Bump????? Any time soon?

[2017-09-13 20:48] CESARDELATORRE commented on #34
For ASP.NET Core 2.1 timeframe

[2017-09-29 10:07] ekarlso commented on #65
How to use the healthcheck code then ?

[2017-09-29 14:01] espray commented on #65
I forked the code and included the projs in my solution. When a Nuget package is created I will switch to that

[2017-10-18 19:09] Franklin89 opened #68 "Create MySql HealthCheck"

[2017-10-19 09:23] rjperes commented on #65
@ekarlso : see this post: https://scottsauber.com/2017/05/22/using-the-microsoft-aspnetcore-healthchecks-package/

[2017-10-19 20:16] CESARDELATORRE commented on #65
Also, see this documentation:
https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/monitor-app-health

[2017-10-24 15:57] sartan commented on #34
What is the relationship to https://github.com/seven1986/HealthChecks, which is [available via NuGet](https://www.nuget.org/packages/Microsoft.AspNetCore.HealthChecks)?

[2017-10-24 16:00] rjperes commented on #34
"Forked from dotnet-architecture/HealthChecks"

[2017-10-24 16:00] rjperes commented on #34
The one that is available from NuGet is this one.

[2017-10-24 16:09] johnduhart commented on #34
I've reported the NuGet package.

[2017-10-24 16:26] sartan commented on #34
Yep, I understand that it's forked from this project, just wasn't clear on the NuGet package since all the info (owner, project site, etc) is for the fork.

So just to be explicit, is the following the official HealthChecks package?
https://www.nuget.org/packages/Microsoft.AspNetCore.HealthChecks

[2017-10-24 16:37] johnduhart commented on #34
@sartan There is no official NuGet package, as the library hasn't been released yet.

[2017-10-24 16:41] sartan commented on #34
@johnduhart Got it. Thanks for the clarification.

[2017-10-24 16:49] CESARDELATORRE commented on #34
Right, I can confirm that. https://www.nuget.org/packages/Microsoft.AspNetCore.HealthChecks is not official but created by "seven".

[2017-10-24 17:15] sartan commented on #34
Ah, just came across the PR from seven.

https://github.com/dotnet-architecture/HealthChecks/pull/66

[2017-10-27 19:58] matthewDDennis opened #69 "HealthChecks functions should be passed a ServiceScope"
I am trying to implement a DbContext health check.  The Sql health check doesn't work for me as I could be using any of a number of database providers such as PostgreSQL.

However, the check function needs a scoped instance of the DbContext to test, and this is not available during the Startup.ConfigureServices method.

If the HealthCheckServices passed in the IServiceScope, then the check method

[2017-10-27 22:06] matthewDDennis commented on #69
Found out the way to do it.  Use the AddCheck<DbConetextChecker<MyContext>> method where the DbConetextChecker constructor has an IServiceScope parameter.  The type gets resolve at execution time.

[2017-10-27 22:06] #69 closed, assigned to nobody

[2017-11-05 18:25] filoe commented on #34
If the library is not released yet, why is there no preview version on NuGet?
There are articles like https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/monitor-app-health, but still no NuGet packages. :confused:

[2017-11-06 19:45] CESARDELATORRE commented on #34
The official NuGet package for this should appear with the first ASP.NET Core 2.1 Preview.

[2017-11-07 12:23] drauly opened #70 "Url/Check association"
Hello,

It seems their is no way to associate an url with a specific check

/url1 => check1
/url2 => check2

Is it something planned ?

Thank you

[2017-11-20 10:06] Guymestef commented on #34
FYI, using the nuget package created by @seven1986 with Microsoft.AspNetCore >= 2.0.1, throw an exception at startup: Could not load file or assembly System.ComponentModel.Primitives :/

[2017-12-05 16:37] ben-m-lucas opened #73 "Health check for Table Storage fails when table name is not provided"
There is a bug in AzureHealthCheckBuilderExtensions.AddAzureTableStorageCheck where the health check fails if a table name is not provided because it attempts to get a table with a "null" name.

Likewise, if the name is passed in, the health check fails to actually check that the table exists.

Lines 73-78 currently read:
[code]

Line 73 should be:
`
                    if (!String.IsNullOrWhiteSp

[2017-12-05 16:39] ben-m-lucas opened #74 "Azure Queue Storage check fails if queue name is not provided"
There is a bug in AzureHealthCheckBuilderExtensions.AddAzureQueueStorageCheck where the health check fails if a queue name is not provided because it attempts to get a table with a "null" name.

Likewise, if the name is passed in, the health check fails to actually check that the table exists.

Lines 153-158 currently read:
[code]

Line 153 should be:
`
                    if (!String.IsNullOrWhit

[2017-12-06 13:04] JuergenGutsch commented on #70
Does it really make sense? I'm just curious. I don't have an idea yet about an use case.
Usually you want to have one URL the see the overall health of your entire application. don't you?
What is your idea about that?

Maybe one use case: Creating one central health check app, that checks many different applications.

[2017-12-06 13:10] JuergenGutsch commented on #65
Maybe it would make sense to change the readme anyway, because it is currently lying to the readers:

https://github.com/aspnet/Home/search?utf8=%E2%9C%93&q=HealthChecks&type=Code

[2017-12-06 21:46] CESARDELATORRE commented on #65
Thanks for the feedback. I changed the text so it is not confusing.
Those mentioned samples are just about ASP.NET Core, not about HealthCheck library.
The examples of HealthCheck library are within this same repo or eShopOnContainers which is also using this library: https://github.com/dotnet-architecture/eShopOnContainers

[2017-12-06 21:49] CESARDELATORRE commented on #70
I might be wrong or misunderstood you, but I think we're precisely doing that in the WatchDog app we have at eShopOnContainers:
https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/Web/WebStatus/Startup.cs

See the code like:

            services.AddHealthChecks(checks =>

            {

                var minutes = 1;

                if (int.TryParse(Configuration["HealthCheck

[2017-12-08 08:04] drauly commented on #70
@CESARDELATORRE , I think AddUrlCheckIfNotNull is to check http dependencies

@JuergenGutsch, I have a monitoring system that can check several healthcheck. Eg:

/hc/simple => used by LB, if it fails, make service out of pool
/hc/full => used by service monitoring, provide a more precise check (some dependencies should not make the service out of pool, but indicate that the service is in a degrade

[2017-12-08 12:45] JuergenGutsch commented on #70
@drauly that scenario makes sense. If UseHealthChecks woudl be on IApplicationBuilder level instead on the WebHostBuilder level, it would be possible to use multiple paths.

[2018-01-11 15:14] MiguelCosta commented on #70
For me it is very useful to have a "url/check" relationship

[2018-01-15 20:46] mnadeau2 commented on #73
any news about this issue ?

[2018-01-18 17:02] mrmartan opened #76 "Target .NET Standard instead of netcoreapp v1"

[2018-02-05 11:58] JuergenGutsch commented on #27
@glennc
Any ideas, when this will get released? I expected it to be in 2.1
But unfortunately it seems not to be in 2.1: https://github.com/aspnet/Announcements/issues/288

Is MSFT still interests in getting this released? There are still some PRs open, which are not yet reviewed for a while.

[2018-02-05 17:41] Eilon commented on #27
@glennc do we have an update on this?

[2018-03-20 16:11] robichaud commented on #34
@CESARDELATORRE Now that ASP.NET Core 2.1 is in Preview, are there any updates on when NuGet packages will be available?

[2018-03-20 20:39] Eilon commented on #34
Adding @glennc who I think can comment on the plans for this package. This is not currently planned for ASP.NET Core 2.1, but I believe it is being considered for 2.2.

[2018-04-18 07:11] Kukks opened #82 "Is this dead?"
There are multiple open PRs with great new useful features dating back months. Has this project been abandoned?

[2018-04-25 09:54] JuergenGutsch commented on #82
Maybe and hopefully it is not dead. It seems to go to the 2.2 release

See the latest "ASP.NET Community Standup - April 24, 2018 - Super Early ASP.NET Core 2.2 Feature Planning:"
https://youtu.be/k0Xy-5zE9to?t=52m40s

[2018-04-25 12:15] Kukks commented on #82
Seems like you have a number of PRs pending here @JuergenGutsch. Do you have a branch with all the PRs combined? ;)

[2018-04-25 19:11] JuergenGutsch commented on #82
Yes, it seems so :-)
I actually was involved at the beginning of that project in November 2016 during the MVP Summit. That's why I keep an eye on it and would be really happy and kinda proud if this thing gets released.

I usually create a separate branch per issue on my fork and create a PR out of that branch.

[2018-04-25 21:55] glennc commented on #82
We intend to finish and ship a HealthChecks library, and this should be thought of as an experiment that helped us choose a course. It will probably not be exactly this code that goes but rather a new repo in the aspnet org that's inspired by and learns from this one.

That's what I expect anyway. The goals are still the same, it's just taking us a long time to finally get it close enough to the t

[2018-04-25 21:56] glennc commented on #82
We didn't start out with that as a goal, but I think that's what it has turned into.

[2018-05-02 04:58] HelloKitty commented on #82
Might want to update [this docs page](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/monitor-app-health) then since it still points people here as a "Early release".

[2018-05-02 16:43] CESARDELATORRE commented on #82
I just create a PR clarifying that point. In any case, it was an early release of that library. It didn't say it was an early release of any official part of ASP.NET Core. But agree, it is better to clarify that point. 👍
https://github.com/dotnet/docs/pull/5124
Closing this issue as I hope the question is clarified now. :)

[2018-05-02 16:43] #82 closed, assigned to nobody

[2018-05-05 15:57] vany0114 opened #83 "When do you release the package?"
Hi guys, do you have plans to release the nuget package soon?

[2018-05-05 18:06] CESARDELATORRE commented on #83
@glennc can confirm, but since this library was an out-of-band library, not officially released from the ASP.NET team but just as an open-source sample, I don't think this specific library will be released as an official NuGet package from Microsoft, but just included as a sample building-block (as it is included as part of eShopOnContainers, as well).

There are plans to release a comparable Heal

[2018-05-05 18:21] vany0114 commented on #83
@CESARDELATORRE thanks for your answer!

[2018-05-06 09:36] alhardy commented on #83
This all seems confusing to me, sounds like this repo will no longer maintained and something similar will potentially be implemented by Microsoft in a future version of AspNet Core. I'm confused why it would then be advertised in AspNet Core documentation and promoted in projects like eShopOnContainers.

In the early stages of this repo it was [mentioned](https://github.com/dotnet-architecture/He

[2018-06-09 13:39] pmareke commented on #7
@CESARDELATORRE Hi Cesar, finally with the release of the 2.1 version is it include? Thanks for your work!

[2018-06-12 09:42] ghost commented on #7
Like @pmareke i need to know the the next planning.

[2018-06-12 20:44] CESARDELATORRE commented on #7
@pmareke - Nope, sorry, it is not coming in .NET Core 2.1.
Adding @glennc who's the owner of this feature. Hopefully it'll come in a future version.

[2018-06-15 09:36] sshogunn commented on #44
Please add this feature for Java client as well

[2018-07-12 15:36] stewartadam commented on #83
IMO, the statement in this thread doesn't line up with the representation in README:
[code]

If the intention is for this to be an out of band code sample and is not actively maintained or planned for inclusion in .NET Core, the README should be updated to reflect that.

[2018-07-12 16:14] CESARDELATORRE commented on #83
It's in the roadmap for ASP.NET Core 2.2:
https://github.com/aspnet/Announcements/issues/307:
"
Health Checks
This feature is a way to trivially setup an endpoint in your application that can be used to check the health of your application, potentially taking into account things like memory consumption or database availability as well as just "can I accept a HTTP request".
"

However, the implemen

[2018-07-12 19:01] stewartadam commented on #83
This is great to hear!

[2018-07-27 20:24] diopol opened #85 "Url checks should cancel themselves on timeout"
Url checks should use AddCheck with cancellationToken overload and pass it over to HttpClient methods. Or what's the point of passing the timeout, if checks just ignore it? The same is for SqlServer checks.

[2018-08-09 17:27] Gaikotsu2 opened #87 "Circular health checks dependency loops"
If multiple services are set up resulting in a circular dependency loop, they will all report as Unhealthy even if they are otherwise fully functional.

For example:
Service A => Service B => Service C => Service A

I have attached a simple solution with 3 web application projects that will cause the failure.
[Exploration.HeathCheck.zip](https://github.com/dotnet-architecture/HealthChecks/files/22

[2018-08-10 00:18] li0nsar3c00l commented on #7
Any chance we can get a preview nuget package any time soon? Merging or adapting #66 would be really nice, cause waiting for Q4 for an official integration into .NET Core 2.2 is quite a while...

[2018-08-10 18:54] JuergenGutsch commented on #7
The API of the 2.2 version of the HealthChecks may change a lot. It is not sure that they moved exactly this codes to ASP.NET Core 2.2. Take a look into the ASP.NET Core repo.
With this in mind, it doesn't really make sense to put this into a NuGet package.
On the other hand, I like this version, as well and I also put some effort in it. Maybe it makes sens to forq this repo, make it stable and cr

[2018-08-23 08:34] ghost opened #89 "Leaking CancellationTokenSource"
Hi all,

I've played around with the code recently and noticed that `CancellationTokenSource` instances are created quite often and never disposed.

I understand, that eventually they would be cleared up by GC, but still, it can cause issues under heavy loads as it might create a `Timer` and `ManualResetEvent` internally.

So is it a good practice here not to dispose `CancellationTokenSource`?

[2018-08-26 15:59] lmcarreiro opened #90 "How to inject dependencies inside a custom checker?"
In the example:

[code]

I could add custom checks that implement the `Microsoft.Extensions.Diagnostics.HealthChecks.IHealthCheck` interface. But since I need to provide to the `AddCheck` method an instance instead of a type, and it needs to run inside the `ConfigureServices` method, I can't inject any dependency in my custom checker.

Is there any way to workaround this?

[2018-08-26 16:01] davidfowl commented on #90
cc @rynowak

[2018-08-26 17:07] jasonwadsworth commented on #90
The best work around I’ve come up with so far is to have a constructor that takes an IServiceCollection and pass the services object into your class. From there you can build an IServiceProvider and you can get your services from there. The downside to this is that you need to be sure all your DI dependencies are added before you do this.

[2018-08-27 11:12] JuergenGutsch commented on #90
The interface of AddCheck isn't the best one. and could be more generic in the future:
[code]

[2018-08-27 23:23] lmcarreiro commented on #90
My question was answered here: https://stackoverflow.com/a/52029647/4871582

But I agree with @JuergenGutsch, the interface of `AddCheck` could be better.

[2018-08-30 15:55] lmcarreiro commented on #90
Closing this issue based on this comment from @rynowak in https://github.com/aspnet/Diagnostics/issues/464#issuecomment-416729281

[2018-08-30 15:55] #90 closed, assigned to nobody

[2018-09-26 12:47] renatodecampos opened #94 "Proxy"
Hi,

Is it possible to use HealthCheck under proxy with default credentials?

[2018-09-27 10:45] PehrGit commented on #70
Another reason this would be useful is because Kubernetes offers a separate Liveness and Readiness probe. They are separate and serve different purposes. In our case we want to check if the application is in a failed state in the Liveness Probe, and we want to check if the database can connect to the necessary dependencies in the Readiness Probe. Supporting multiple endpoints with separate checks

[2018-09-27 20:16] Eilon commented on #58
Closing because this is replaced by https://github.com/aspnet/Diagnostics/tree/release/2.2/src.

[2018-09-27 20:16] #58 closed, assigned to Eilon

[2018-09-27 20:17] Eilon commented on #7
Closing because this is replaced by https://github.com/aspnet/Diagnostics/tree/release/2.2/src.

[2018-09-27 20:17] #7 closed, assigned to Eilon

[2018-09-27 20:59] CESARDELATORRE opened #95 "WARNING: This experimental library is being deprecated in favor of the official Health Checks in ASP.NET Core 2.2"
This library is replaced by ASP.NET Core 2.2 (GA around end of 2018) with official Health Checks components here:

https://github.com/aspnet/Diagnostics/tree/release/2.2/src

You can now try it out (Preview) by following this blog post:
https://blogs.msdn.microsoft.com/webdev/2018/08/22/asp-net-core-2-2-0-preview1-healthcheck/

It'll be properly documented in docs.microsoft.com by ASP.NET Core 2.2

[2020-03-06 00:48] #25 closed, assigned to nobody

[2020-04-23 18:23] #76 closed, assigned to nobody